body{
font-family: Arial, sans-serif;
}

/* Navbar Transparent */

.navbar-custom{
background:#141a34;
transition: 0.2em;

}

/* Navbar text color */

.navbar-custom .nav-link{
color:white;
font-weight:500;
}

.navbar-custom .nav-link:hover{
color:#ffc107;
}

/* Slider Image */

.slider-img{
height:100vh;
object-fit:cover;
}

/* Slider Caption */



.card{
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.gallery-img{
border-radius:10px;
transition:0.3s;
}

.gallery-img:hover{
transform:scale(1.05);
}

.package-card{
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.booking-form{
max-width:500px;
margin:auto;
}

footer{
margin-top:60px;
}

.footer-section{
background:#141a34;
}

.footer-title{
color:#ffffff;
font-weight:bold;
}

.footer-heading{
color:#ffffff;
margin-bottom:15px;
}

.footer-list{
list-style:none;
padding:0;
}

.footer-list li{
margin-bottom:8px;
cursor:pointer;
color:#d1d1d1;
}

.footer-list li:hover{
color:#ffcc00;
}

.footer-line{
border-color:#444;
}

.footer-copy{
color:#aaa;
font-size:14px;
}